.TogglePasswordButton {
    position: absolute;
    top: 55%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    border: none;
    font-weight: bold;
}