.button {
    display: flex;
    justify-content: center;
    width : 100%;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #888;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;

}

.buttonPrimary {
    background-color: #5a79d6;
    color: white;
}

.buttonPrimary:hover {
    background-color: #2f5bd6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.buttonSecondary {
    background-color: #9e9d9d;
    color: white;
}

.buttonSecondary:hover {
    background-color: #686a70;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.iconMicrs {
    width: 17px;
    height: 17px;
    border: solid ;
}