.input {
    display :flex;
    width : 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.inputPrimary {
    margin-bottom: 16px;
}
.inputSecondary {
    margin-bottom: 16px;
}